body
{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 75%;
}

.content-info
{
    width: 50%;
    height: 500px;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.content-image
{
    order: 2;
    position: relative;
    width: 50%;
    height: 500px;
    

}

.content-image::after
{
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    opacity: .5;
}

#card-image
{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

h1
{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

span
{
    color: hsl(277, 64%, 61%);
}

.main-paragraph
{
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    line-height: 180%;
    padding-top: 10px;
}

h2
{
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 5px;
    margin-top: 12px;
}

.stat-label
{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0;
}

.wrapper
{
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 18%;
}

.stats
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 10%;
    margin-top: 18%;
}
